@import url(http://fonts.googleapis.com/css?family=Capriola);

.header {
    border:2px solid red;
}

.header .image {
    background: url("Adventure2.jpg") 
                no-repeat;
    width: 65px;
    height: 65px;
    border:2px solid green;
}

.header .text {
    font: x-large sans-serif;
    border:2px solid blue;
}

.header .image, 
.header .text {
    display: inline-block;
    vertical-align: bottom;
}